<a href="https://colab.research.google.com/github/SylvanasBV/Computacion_cientifica-y-analitica/blob/main/Taller_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Taller 2 - ANDRES FELIPE BARBOSA SALAMANCA

or the operation of this activity, please instantiate the one files locally in the colab by clicking on **upload to session storage** in the left section called **Files** of which 1 were selected, which are:  [loans.csv](https://github.com/datascience-unbosque/loan-behaviour-dataviz), give to the teacher by this activity.

In [ ]:
!pip install -q xlrd

**bookstores**

In [ ]:
# I import the necessary libraries
import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np
import altair as alt
alt.renderers.enable('default')
from vega_datasets import data as vega_data

**datasets**

In [ ]:
# Loading the file as a dataframe
df_Count = pd.read_csv("/loans.csv", delimiter=',')
# Mostrar las dimenciones del dataframe
print(df_Count.shape)
# Delete records with NAN
df_Count = df_Count.dropna()
# Checking the data types of the columns
print(df_Count.dtypes)
# Printing the first 10 records
print(df_Count.head(25593))

(252000, 13)
id                      int64
income                  int64
age                     int64
experience              int64
marital_status         object
house_ownership        object
car_ownership          object
profession             object
city                   object
state                  object
current_job_years       int64
current_house_years     int64
risk_flag               int64
dtype: object
          id   income  age  experience marital_status house_ownership  \
0          1  1303834   23           3         single          rented
1          2  7574516   40          10         single          rented
2          3  3991815   66           4        married          rented
3          4  6256451   41           2         single          rented
4          5  5768871   47          11         single          rented
...      ...      ...  ...         ...            ...             ...
25588  25589  3392494   28           6         single          rented
25589  25590  6451557   40           7         single          rented
25590  25591  2570620   53          11         single          rented
25591  25592  6533070   43          16         single          rented
25592  25593  7826657   30           3         single          rented

      car_ownership           profession                 city           state  \
0                no  Mechanical_engineer                 Rewa  Madhya_Pradesh
1                no   Software_Developer             Parbhani     Maharashtra
2                no     Technical_writer            Alappuzha          Kerala
3               yes   Software_Developer          Bhubaneswar          Odisha
4                no        Civil_servant  Tiruchirappalli[10]      Tamil_Nadu
...             ...                  ...                  ...             ...
25588           yes            Secretary           Jamshedpur       Jharkhand
25589            no       Microbiologist            Erode[17]      Tamil_Nadu
25590            no         Web_designer                 Gaya           Bihar
25591           yes     Fashion_Designer               Nadiad         Gujarat
25592            no              Dentist            Buxar[37]           Bihar

       current_job_years  current_house_years  risk_flag
0                      3                   13          0
1                      9                   13          0
2                      4                   10          0
3                      2                   12          1
4                      3                   14          1
...                  ...                  ...        ...
25588                  6                   10          0
25589                  7                   14          0
25590                 10                   11          0
25591                  6                   13          0
25592                  3                   10          1

[25593 rows x 13 columns]



---

### **Assuming different questions, the following conclusions were reached with the following graphs**

In [ ]:
#Reducing the number of major genres (categois)
df_Count['profession'].value_counts(dropna = False, normalize=True)

Physician                     0.023639
Statistician                  0.023040
Web_designer                  0.021417
Psychologist                  0.021389
Computer_hardware_engineer    0.021317
Drafter                       0.021266
Magistrate                    0.021258
Fashion_Designer              0.021048
Air_traffic_controller        0.020956
Comedian                      0.020869
Industrial_Engineer           0.020833
Mechanical_engineer           0.020702
Chemical_engineer             0.020655
Technical_writer              0.020615
Hotel_Manager                 0.020548
Financial_Analyst             0.020504
Graphic_Designer              0.020500
Flight_attendant              0.020349
Biomedical_Engineer           0.020345
Secretary                     0.020083
Software_Developer            0.020052
Petroleum_Engineer            0.020004
Police_officer                0.019980
Computer_operator             0.019802
Politician                    0.019619
Microbiologist                0.019369
Technician                    0.019302
Artist                        0.019290
Lawyer                        0.019119
Consultant                    0.019079
Dentist                       0.018976
Scientist                     0.018972
Surgeon                       0.018937
Aviator                       0.018881
Technology_specialist         0.018798
Design_Engineer               0.018766
Surveyor                      0.018706
Geologist                     0.018540
Analyst                       0.018524
Army_officer                  0.018496
Architect                     0.018480
Chef                          0.018393
Librarian                     0.018365
Civil_engineer                0.018317
Designer                      0.018246
Economist                     0.018147
Firefighter                   0.017885
Chartered_Accountant          0.017829
Civil_servant                 0.017512
Official                      0.016218
Engineer                      0.016063
Name: profession, dtype: float64

In [ ]:
#Se redujeron las caracteristicas para poder procesar los datos de la columna profesion mas facil mente
df_Count['profession'] = df_Count['profession'].replace({
    'Web_designer':'Designer',
    'Fashion_Designer':'Designer',
    'Graphic_Designer':'Designer',
    'Architect':'Designer',
    'Computer_hardware_engineer':'Engineer',
    'Industrial_Engineer':'Engineer',
    'Mechanical_engineer':'Engineer',
    'Chemical_engineer':'Engineer',
    'Biomedical_Engineer':'Engineer',
    'Software_Developer':'Engineer',
    'Petroleum_Engineer':'Engineer',
    'Design_Engineer':'Engineer',
    'Civil_engineer':'Engineer',
    'Police_officer':'Official',
    'Army_officer':'Official',
    'Firefighter':'Official',
    'Civil_servant':'Official',
    'Statistician':'Analyst',
    'Financial_Analyst':'Analyst',
    'Economist':'Analyst',
    'Chartered_Accountant':'Analyst',
    'Air_traffic_controller':'Aviator',
    'Flight_attendant':'Aviator',
    'Comedian':'Artist',
    'Magistrate':'Lawyer',
    'Politician':'Lawyer',
    'Technical_writer':'Technician',
    'Computer_operator':'Technician',
    'Consultant':'Technician',
    'Technology_specialist':'Technician',
    'Physician':'Scientist',
    'Psychologist':'Scientist',
    'Microbiologist':'Scientist',
    'Surveyor':'Scientist',
    'Geologist':'Scientist',
    'Dentist':'Healt',
    'Surgeon':'Healt',
    'Drafter':'Other',
    'Hotel_Manager':'Other',
    'Secretary':'Other',
    'Chef':'Other',
    'Librarian':'Other'})
df_Count['profession'].value_counts(dropna = False, normalize=True)

Engineer      0.197056
Scientist     0.120615
Designer      0.099690
Other         0.098655
Analyst       0.098044
Technician    0.097595
Official      0.090091
Aviator       0.060187
Lawyer        0.059996
Artist        0.040159
Healt         0.037913
Name: profession, dtype: float64

In [ ]:
#Altair has a reserved data usage to display so the highest will be taken
#and the least amount of data to see if affected by the data was divided into three
# from lowest to highest years of work
df_age_low = df_Count.loc[df_Count['current_job_years'] <= 4] ## ---> Years of initial work  
df_age_med = df_Count.loc[df_Count['current_job_years'] >= 5] ## ---> Average years of work
df_age_med = df_age_med.loc[df_age_med['current_job_years'] <= 8] ## ---> Average years of work
df_age_High = df_Count.loc[df_Count['current_job_years'] >= 9] ## ---> years of final work  
# Show the dimensions of the dataframe
print(df_age_low.shape)
# Increase altair's ability to graph large datasets
alt.data_transformers.enable('default', max_rows=101201)
# Correlation between the variables income and profession leaving a course of time with the experience
slid = alt.binding_range(min = 0, max= 20 , step=1,name='experience')
select = alt.selection_single(name="experience", fields=['experience'],
                                bind=slid, init={'experience': 0})

alt.Chart(df_age_low)\
  .mark_bar().encode(
      alt.X('income:Q'),
      alt.Y('profession:N'),
      alt.Color('risk_flag:N')

  ).properties(
      width = 500,
      height = 500
  ).add_selection(select).transform_filter(select)


As can be seen in the graph, a graph was made for each period in years of work, which begins with 1 year to 4 years studying a company where we can see that regardless of experience, who has the highest amount of salary are the professions around engineering, in addition to this it can be denoted that the profession that has the most likely risk of breach of obligations are the same engineers where the majority of people are anchored as it is one of the most used professions and finally it is it can denote that the experience supports the salary increase, where it can also be recognized that with 11 years of experience the technician profession can have an increase in salary.

In [ ]:

# Show the dimensions of the dataframe
print(df_age_med.shape)

#Correlation between the variables income and profession leaving a passage of time with the experience
slid = alt.binding_range(min = 5, max= 20 , step=1,name='experience')
select = alt.selection_single(name="experience", fields=['experience'],
                                bind=slid, init={'experience': 5})

alt.Chart(df_age_med)\
  .mark_bar().encode(
      alt.X('income:Q'),
      alt.Y('profession:N'),
      alt.Color('risk_flag:N')

  ).properties(
      width = 700,
      height = 700).add_selection(select).transform_filter(select)

As we can see, by increasing the length of years studied at work, a minimum increase in salary can be denoted starting from 5 years as experience where a margin is denoted in the professions of risk of breaching the increased obligation. but while the experience increases, a greater disinterest could be seen, leaving the hypothesis that they concentrate on other projects as the time of the company elapses, in addition, it can be denoted that while the experience increases, the careers also increase their salary and growth as a profession except for professions tied to health.

In [ ]:
slid = alt.binding_range(min = 9, max= 20 , step=1,name='experience')
select = alt.selection_single(name="experience", fields=['experience'],
                                bind=slid, init={'experience': 9})

# Show the dimensions of the dataframe
print(df_age_High.shape)
#Correlation between the variables income and profession leaving a passage of time with the experience
alt.Chart(df_age_High)\
  .mark_bar().encode(
      alt.X('income:Q'),
      alt.Y('profession:N'),
      alt.Color('risk_flag:N')

  ).properties(
      width = 500,
      height = 500).add_selection(select).transform_filter(select)

To conclude, we can see that from 9 to 14 years in the company, beginning the experience at 9, an outstanding increase in the salary of each profession can be seen, allowing us to conclude that the longer the company is instigating, the greater the profession. income will obtain in addition to the need for experience allowing income to scale higher, it was also allowed to establish that the more years in the company there is a greater risk of failing to comply with banking obligations, in addition to this an external analysis of the data denotes the susceptibility of the amount of data that was ingested in each profession can be a problem for not having values ​​with an outstanding assertiveness, in addition to this the careers that generate less income are health and Artist and the most paid are engineering, technicians and scientific

# **Age was also analyzed as a possible risk of increasing non-compliance with banking obligations.**

In [ ]:
# Analyzing the lowest and highest salaries, it was found that
print("Salarios")
print('el menor salario es:',df_Count['income'].min())
print('el mayor salario es:',df_Count['income'].max())


#Altair has a reserved data usage to display so the highest will be taken
#and the least amount of data to see if the affected data was split in two
#the lowest salaries and the highest

df_age_low = df_Count.loc[df_Count['age'] <= 40] ## ---> low age  
df_age_med = df_Count.loc[df_Count['age'] >= 40] ## ---> intermediate age
df_age_med = df_age_med.loc[df_age_med['age'] <= 60] ## ---> intermediate age
df_age_High = df_Count.loc[df_Count['age'] >= 60] ## ---> tall age  

#Correlation between the variables income and age, leaving a passage of time with the Working time and the age range
slider = alt.binding_range(min = 1, max= 14 , step=1,name='current_job_years')
selector = alt.selection_single(name="SelectorName", fields=['current_job_years'],
                                bind=slider, init={'current_job_years': 1})


alt.Chart(df_age_low)\
  .mark_bar().encode(
      alt.X('age:Q'),
      alt.Y('income:Q'),
      alt.Color('risk_flag:N'),
      alt.OpacityValue(0.7)
  ).properties(
      width = 500,
      height = 500
  ).add_selection(selector).transform_filter(selector)

It was established by means of age to divide the dataset into three parts, the first of which is between 20 and 40 years old, where we can see that incomes do not tend to be low over the years working, therefore the age is not a variable with the given data a variable related to income, despite this it can be denoted that the less years in the company there is a greater risk of not fulfilling its financial obligations and also the greater the years in this category and more years in the company is denoting a greater disinterest in financial obligations.

In [ ]:
#Correlation between the variables income and age, leaving a passage of time with the Working time and the age range
alt.Chart(df_age_med)\
  .mark_bar().encode(
      alt.X('age:Q'),
      alt.Y('income:Q'),
      alt.Color('risk_flag:N'),
      alt.OpacityValue(0.7)
  ).properties(
      width = 500,
      height = 500
  ).add_selection(selector).transform_filter(selector)

By increasing the age range from 40 to 60, it can denote the lack of interest in their financial obligations regardless of the years in the company and also stagnation at certain ages in the salary increase regardless of the years working in the company, but despite that the income tends to be very high.

In [ ]:
#Correlation between variables

alt.Chart(df_age_High)\
  .mark_bar().encode(
      alt.X('age:Q'),
      alt.Y('income:Q'),
      alt.Color('risk_flag:N'),
      alt.OpacityValue(0.7)
  ).properties(
      width = 500,
      height = 500
  ).add_selection(selector).transform_filter(selector)

In addition to this, the last age range can be denoted, which is from 60 to 80, which leaves a surprising change which in the course of the company maintains the same balance, but the difference is in the risk of non-compliance with the obligations in where we see a decrease, letting the hypothesis relapse that at early and high ages the risk is not as high as in the middle ages where a greater interest is denoted, in addition to this it is denoted that the age variable does not have a great relationship with the salary since which was maintained in a constant attitude of increase and reduction but in small traits.



---

# **The risk of breaching the obligation with respect to having a car or not having one or owning or renting a house was evaluated**

In [ ]:
#Altair has a reserved data usage to display so the highest will be taken
#and the least amount of data to see if the affected data was split in two
#the lowest salaries and the highest

df_age_low = df_Count.loc[df_Count['income'] <= 3000000] ## ---> Minimum salary  
df_age_med = df_Count.loc[df_Count['income'] >= 3000000] ## ---> intermediate salary
df_age_med = df_age_med.loc[df_age_med['income'] <= 7000000] ## ---> intermediate salary
df_age_High = df_Count.loc[df_Count['income'] >= 7000000] ## ---> High salary  


#Correlation between the variables risk of breaching obligations and number of times this problem occurs
# regarding having a house or a car

slid = alt.binding_range(min = 10, max= 14 , step=1,name='current_house_years')
select = alt.selection_single(name="current_house_years", fields=['current_house_years'],
                                bind=slid, init={'current_house_years': 10})
alt.Chart(df_age_low)\
  .mark_point(filled=True).encode(
      alt.X('count():Q'),
      alt.Y('risk_flag:N'),
      alt.Size('car_ownership:N'),
      alt.Color('house_ownership:N'),
      alt.OpacityValue(0.7)
  ).properties(
      width = 800,
      height = 800
  ).add_selection(select).transform_filter(select)

As can be seen, we can see that there are fewer cases of non-compliance with the obligations in normal income of 3,000,000 in decrease, therefore, it can also be seen that the majority of cases of non-compliance are people who do not have their own car and also do not have a property in addition to this can be evidenced that the same case is represented to those who duly pay their obligations supply these same characteristics, while the people who have a car and a house are few who generate compliance as those who do not, in addition it can be evidenced that the older Whatever the house, the differences are minimal in the preliminary view, in addition to the fact that owners under 10 years of age cannot be seen in a property due to data collection.

In [ ]:
alt.Chart(df_age_med)\
  .mark_point(filled=True).encode(
      alt.X('count():Q'),
      alt.Y('risk_flag:N'),
      alt.Size('car_ownership:N'),
      alt.Color('house_ownership:N'),
      alt.OpacityValue(0.7)
  ).properties(
      width = 800,
      height = 800
  ).add_selection(select).transform_filter(select)

Contrary to the other sample, in people with a salary range between 3,000,000\$ and 7,000,000\$, an increase can be seen in people who do not run the risk of obligations through the time they are in the property, which is good since that these people increased and contrary to increasing the people with risk of non-compliance, they decreased giving a good future of the application.

In [ ]:
alt.Chart(df_age_High)\
  .mark_point(filled=True).encode(
      alt.X('count():Q'),
      alt.Y('risk_flag:N'),
      alt.Size('car_ownership:N'),
      alt.Color('house_ownership:N'),
      alt.OpacityValue(0.7)
  ).properties(
      width = 800,
      height = 800
  ).add_selection(select).transform_filter(select)

As an end in salaries of 7,000,000\$ onwards, it can be seen that it is similar to people with low incomes, which is interesting to say that there is a similar number of people with low amounts of income and high amounts of income, in addition to this it can be said that there is a good chance that people possibly decrease over time, otherwise having a car or not having one is not a variable that affects too much in the case of the risk of not fulfilling obligations since both people who do not have a car nor a house of their own are people who lead the variable risk_flag.

In [ ]:
#Allows to evaluate in the perspective of the experience in all of the income evaluating if it increased or decreased

df_count_df = df_Count.groupby('experience')\
.agg({'income':'mean','risk_flag':'mean'})\
.reset_index()\
.melt(id_vars = ['experience'],var_name = 'Metric',value_name = 'Value')\
.sort_values(by = ['experience','Metric'])

print(df_count_df.tail(10))

    experience     Metric         Value
16          16     income  4.894384e+06
37          16  risk_flag  1.321659e-01
17          17     income  5.150731e+06
38          17  risk_flag  1.158190e-01
18          18     income  4.965754e+06
39          18  risk_flag  8.166019e-02
19          19     income  5.056668e+06
40          19  risk_flag  1.062098e-01
20          20     income  4.868874e+06
41          20  risk_flag  1.131278e-01

In [ ]:
#This variable is evaluated by means of a linear graph that evaluates by years of experience
alt.Chart(df_count_df).mark_line().encode(
    alt.X('experience:Q'),
    alt.Y('Value:Q'),
    alt.Color('Metric:N')
).properties(
    width = 1000,
    height = 300
)

alt.Chart(...)

You can see a rare collection of data establishing possible errors in the data collection when establishing this graph since it looks as if it is stuck at 4000000\$ therefore it could be a representation that regardless of experience the variations are not very large if not in the presence of other variables.

**DATA ERRORS**

---

* It was found that the size of the document was so large that it runs locally, it was a way of suffocating the computer and it did not fully render.

* Incomplete columns were found where I had to apply row deletion functions so that those rows could be executed.

* Different accents were identified that could not be corrected because the functions could not send to a flat format and damaged the mouth of the format.

* The use of lower and upper case letters was found to be incongruous with the tables, which used an APCASE format so that they would all remain capital letters.

* Cities contain [] poorly designed arrays whose provenance is unknown

* The tool used did not allow me to use the complete data list so I divided it into sections to get to its operation